<ion-header>

  <ion-navbar color="button">
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #f28f00 !important" padding>
  <p>This is a private service not affiliated with King Abdullah University of Science and Technology.</p>
  <p>For service suggestions, please email: transport.compliance@kaust.edu.sa</p>
  <p>For service Complements and Complaints, please call 959 from landline, (012) 8080 959 from mobile phone or e-mail: fchelpdesk@kaust.edu.sa</p>
  <p>Terms and Conditions</p>
  <ol>
    <li>External trips to be booked 24 hours in advance after 24 hours the service will be subjected to availability</li>
    <li>Internal trip to be booked 3 hours in advance from the pick up time and trip will be confirmed subject to availability.</li>
    <li>Detailed taxis are available at transportation website.</li>
    <li>Taxi request for multiple destinations will be charged based on the rate list of the Service Providers.</li>
    <li>Cancellations should be advised 4 hours prior to appointment pickup from KAUST and 6 hours prior to appointment pickup from Jeddah, otherwise the full agreed rate will be charged.</li>
    <li>.In case of a passenger “no- show”, especially for an Airport pick-up, the driver will wait for one (1) hour after stated arrival time. At the end of that time the Service Provider is to contact the requestor before leaving the Airport. This same response also applies for external trips to Jeddah.</li>
    <li>Internal trip will have 30 minutes waiting time starting from the pick up time, should the waiting time of passenger to show up exceeds 30 minutes, dispatcher shall notify the passenger and may cancel the booking. Service provider shall charge the proponent organization 100% of the booking fare.</li>
    <li>.Client's luggage is ultimately their responsibility and risk</li>
    <li>Eating, drinking & smoking are not permitted inside the vehicles, either by the driver or passenger.</li>
    <li>The route to reach the destination is the sole discretion and responsibility of the driver.</li>
    <li>Emergency request over the phone or walk in will not be subjected to availability.</li>
    <li>Pets should be carried in the cage alternatively service provider may refuse to operate the trip.</li>
  </ol>
</ion-content>