page-landing {
    .box {
        background-color: #9992EF; // width: 300px;
        padding: 25px;
        margin: 25px;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0;
    }
    .item {
        background-color: #9992EF;
        border: none !important;
    }
    p {
        color: black;
    }
    .scroll-content {
        background-color: black
    }
    [noScroll] {
        overflow: hidden;
    }
    .no-scroll .scroll-content {
        overflow: hidden;
    }
}