<!-- <ion-header>

  <ion-navbar>
    <ion-title>landing</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding fullscreen class="no-scroll">
  <ion-grid>
    <ion-row justify-content-center>
      <img src="assets/img/taxi.jpg" alt="">
    </ion-row>
  </ion-grid>
  <!-- <div style="padding-top:10%;"></div>  -->
  <!-- <button ion-button color="light" block (click)="sendEmail()">Send Email</button> -->

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row nowrap>
      <ion-col col-6>
        <ion-item class="tab-item" tappable (click)="taxiForm()" style="text-align: center; border-bottom: 0px !important">
          <img src="assets/img/icon1.png" alt="">
          <p text-center>APPOINTMENT</p>
        </ion-item>
        <!-- <div class="box"></div> -->
      </ion-col>
      <ion-col col-6>
        <ion-item class="tab-item" tappable (click)="customerSurver()" style="text-align: center">
          <img src="assets/img/icon2.png" alt="">
          <p text-center>SURVEY</p>
        </ion-item>
        <!-- <div class="box"></div> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="tab-item" tappable (click)="userInfo()" style="text-align: center">
          <img src="assets/img/icon3.png" alt="">
          <p text-center>PUSH</p>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item class="tab-item" tappable [navPush]="'AboutPage'" style="text-align: center">
          <img src="assets/img/icon4.png" alt="">
          <p text-center>CONTACT</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>