<ion-header>

  <ion-navbar color="button">
    <ion-title>User Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="userInfoForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-select formControlName="title">
        <ion-option value="Mr">Mr</ion-option>
        <ion-option value="Ms">Ms</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item class="no-border" *ngIf="!userInfoForm.controls.name.valid && (userInfoForm.controls.name.dirty || submitAttempt)">
      <p style="color: #a94442">Name is not valid.</p>
    </ion-item>

    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input type="number" formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mobile</ion-label>
      <ion-input type="number" formControlName="mobile"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!userInfoForm.controls.mobile.valid && (userInfoForm.controls.mobile.dirty || submitAttempt)">
      <p style="color: #a94442">Passenger mobile is required.</p>
    </div>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!userInfoForm.controls.email.valid && (userInfoForm.controls.email.dirty || submitAttempt)">
      <p style="color: #a94442">Passenger email is required.</p>
    </div>

    <button type="submit" ion-button block color="button">Save</button>
  </form>
</ion-content>