<ion-header>

  <ion-navbar color="button">
    <ion-title>Taxi Online Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="taxiForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label>Trip way</ion-label>
      <ion-select formControlName="tripWay">
        <ion-option value="One Way">One Way</ion-option>
        <ion-option value="Round Trip">Round Trip</ion-option>
        <ion-option value="Whole Day - 8 hours">Whole Day - 8 hours</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.tripWay.valid && (taxiForm.controls.tripWay.dirty || submitAttempt)">
      <p style="color: #a94442">You must select trip way.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Service Provider</ion-label>
      <ion-select formControlName="serviceProvider">
        <ion-option value="Samara Transport">Samara Transport</ion-option>
        <ion-option value="Hanco Transport">Hanco Transport</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.serviceProvider.valid && (taxiForm.controls.serviceProvider.dirty || submitAttempt)">
      <p style="color: #a94442">You must select a service provider.</p>
    </ion-item>

    <ion-item>
      <ion-label>Title</ion-label>
      <ion-select formControlName="title">
        <ion-option value="Mr">Mr</ion-option>
        <ion-option value="Ms">Ms</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.title.valid && (taxiForm.controls.title.dirty || submitAttempt)">
      <p style="color: #a94442">You must select a title.</p>
    </ion-item>

    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.name.valid && (taxiForm.controls.name.dirty || submitAttempt)">
      <p style="color: #a94442">Passenger name is required.</p>
    </ion-item>

    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input type="number" formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mobile</ion-label>
      <ion-input type="number" formControlName="mobile"></ion-input>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.mobile.valid && (taxiForm.controls.mobile.dirty || submitAttempt)">
      <p style="color: #a94442">Passenger mobile is required.</p>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.email.valid && (taxiForm.controls.email.dirty || submitAttempt)">
      <p style="color: #a94442">Passenger email is required.</p>
    </ion-item>

    <ion-item>
      <ion-label>KAUST ID</ion-label>
      <ion-input type="number" formControlName="kaustId"></ion-input>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.kaustId.valid && (taxiForm.controls.kaustId.dirty || submitAttempt)">
      <p style="color: #a94442">Passenger KAUST ID is required.</p>
    </ion-item>

    <ion-item>
      <ion-label>Pick Up Place</ion-label>
      <ion-textarea formControlName="pickUpPlace"></ion-textarea>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.pickUpPlace.valid && (taxiForm.controls.pickUpPlace.dirty || submitAttempt)">
      <p style="color: #a94442">Pickup place is required.</p>
    </ion-item>

    <ion-item>
      <ion-label>Destination</ion-label>
      <ion-textarea type="text" formControlName="destination"></ion-textarea>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.destination.valid && (taxiForm.controls.destination.dirty || submitAttempt)">
      <p style="color: #a94442">Destination is required.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Pick Up Place Google Map Link</ion-label>
      <ion-input formControlName="pickUpGoogleMapLink"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Destination Google Map Link</ion-label>
      <ion-input formControlName="destGoogleMapLink"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Pick Up Time</ion-label>
      <ion-datetime displayFormat="h:mm" pickerFormat="h mm" formControlName="pickUpTime"></ion-datetime>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.pickUpTime.valid && (taxiForm.controls.pickUpTime.dirty || submitAttempt)">
      <p style="color: #a94442">Please choose pickup time.</p>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item class="no-border" *ngIf="!taxiForm.controls.date.valid && (taxiForm.controls.date.dirty || submitAttempt)">
      <p style="color: #a94442">Pickup date is required.</p>
    </ion-item>

    <ion-item>
      <ion-label>Vehicle Type</ion-label>
      <ion-select formControlName="vehicleType">
        <ion-option value="Med-Sedan">Med-Sedan</ion-option>
        <ion-option value="Full-Sedan">Full-Sedan</ion-option>
        <ion-option value="SUV">SUV</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>No of Passenger(s)</ion-label>
      <ion-select formControlName="noOfPassengers">
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Interested to share this ride?</ion-label>
      <ion-select formControlName="shareThisRide">
        <ion-option value="Yes">Yes</ion-option>
        <ion-option value="No">No</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Additional Request/Instruction:</ion-label>
      <ion-textarea type="text" formControlName="additionalInstructions"></ion-textarea>
    </ion-item>
    <button ion-button block color="submit">Submit</button>
  </form>
</ion-content>