page-customer-survey-form {
    $radio-ios-color-on: #f28f00;
    $radio-md-color-on: #f28f00;
    .invalid {
        background: #FFE4EA
    }
    ion-card {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
    ion-item {
        background: transparent !important;
    }
}