<ion-header>

  <ion-navbar color="button">
    <ion-title>Customer Satisfactory Survey</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="surveyForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <!-- <br> -->
    <ion-card padding [class.invalid]="!surveyForm.controls.busService.valid && submitAttempt" radio-group formControlName="busService">
      <h4>1. Over the past 6 months, for what purpose have you utilized Bus Services?</h4>
      <ion-item>
        <ion-label>In Campus</ion-label>
        <ion-radio item-left value="in campus" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Off Campus</ion-label>
        <ion-radio item-left value="off campus"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Both</ion-label>
        <ion-radio item-left value="both"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>None</ion-label>
        <ion-radio item-left value="none"></ion-radio>
      </ion-item>
      <ion-item class="no-border" *ngIf="!surveyForm.controls.busService.valid && submitAttempt">
        <p style="color: #a94442">This is a required question</p>
      </ion-item>
    </ion-card>
    <!-- <br> -->
    <ion-card padding [class.invalid]="!surveyForm.controls.taxiService.valid && submitAttempt" radio-group formControlName="taxiService">
      <h6>2. Over the past 6 months, for what purpose have you utilized Taxi Services?</h6>
      <ion-item>
        <ion-label>In Campus</ion-label>
        <ion-radio item-left value="in campus" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Off Campus</ion-label>
        <ion-radio item-left value="off campus"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Both</ion-label>
        <ion-radio item-left value="both"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>None</ion-label>
        <ion-radio item-left value="none"></ion-radio>
      </ion-item>
      <ion-item class="no-border" *ngIf="!surveyForm.controls.taxiService.valid && submitAttempt">
        <p style="color: #a94442">This is a required question</p>
      </ion-item>
    </ion-card>
    <!-- <br> -->
    <ion-card padding [class.invalid]="!surveyForm.controls.busAndTaxiServices.valid && submitAttempt" formGroupName="busAndTaxiServices">
      <h6>3. Over the past 6 months, how often have you used Bus and Taxi Services? (In Campus / Off Campus).</h6>
      <ion-card [class.invalid]="!surveyForm.controls.busAndTaxiServices.controls.taxiInCampus.valid && submitAttempt" radio-group
        formControlName="taxiInCampus">
        <ion-card-header text-center>Taxi - In Campus</ion-card-header>
        <ion-item>
          <ion-label>Daily</ion-label>
          <ion-radio item-left value="daily" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Once a week</ion-label>
          <ion-radio item-left value="once a week"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>More than once a month</ion-label>
          <ion-radio item-left value="more than once a month"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Once every six months</ion-label>
          <ion-radio item-left value="once every six months"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Not at all</ion-label>
          <ion-radio item-left value="not at all"></ion-radio>
        </ion-item>
        <ion-item *ngIf="!surveyForm.controls.busAndTaxiServices.controls.taxiInCampus.valid && (surveyForm.controls.busService.dirty || submitAttempt)">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.busAndTaxiServices.controls.taxiOffCampus.valid && submitAttempt" radio-group
        formControlName="taxiOffCampus">
        <ion-card-header text-center>Taxi - Off Campus</ion-card-header>
        <ion-item>
          <ion-label>Daily</ion-label>
          <ion-radio item-left value="daily" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Once a week</ion-label>
          <ion-radio item-left value="once a week"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>More than once a month</ion-label>
          <ion-radio item-left value="more than once a month"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Once every six months</ion-label>
          <ion-radio item-left value="once every six months"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Not at all</ion-label>
          <ion-radio item-left value="not at all"></ion-radio>
        </ion-item>
        <ion-item *ngIf="!surveyForm.controls.busAndTaxiServices.controls.taxiOffCampus.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.busAndTaxiServices.controls.busInCampus.valid && submitAttempt" radio-group
        formControlName="busInCampus">
        <ion-card-header text-center>Bus - In Campus</ion-card-header>
        <ion-item>
          <ion-label>Daily</ion-label>
          <ion-radio item-left value="daily" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Once a week</ion-label>
          <ion-radio item-left value="once a week"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>More than once a month</ion-label>
          <ion-radio item-left value="more than once a month"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Once every six months</ion-label>
          <ion-radio item-left value="once every six months"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Not at all</ion-label>
          <ion-radio item-left value="not at all"></ion-radio>
        </ion-item>
        <ion-item *ngIf="!surveyForm.controls.busAndTaxiServices.controls.busInCampus.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.busAndTaxiServices.controls.busOffCampus.valid && submitAttempt" 
        radio-group formControlName="busOffCampus">
        <ion-card-header text-center>Bus - Off Campus</ion-card-header>
        <ion-item>
          <ion-label>Daily</ion-label>
          <ion-radio item-left value="daily" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Once a week</ion-label>
          <ion-radio item-left value="once a week"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>More than once a month</ion-label>
          <ion-radio item-left value="more than once a month"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Once every six months</ion-label>
          <ion-radio item-left value="once every six months"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Not at all</ion-label>
          <ion-radio item-left value="not at all"></ion-radio>
        </ion-item>
        <ion-item *ngIf="!surveyForm.controls.busAndTaxiServices.controls.busOffCampus.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>
    </ion-card>
    <!-- ------------------------------------------ -->
    <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.valid && submitAttempt" 
      formGroupName="customerSatisfaction">
      <h4>4. How would you rate your satisfaction with the following? (Check the appropriate box).</h4>
      <ion-card [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.behaviour.valid && submitAttempt"
        radio-group formControlName="behaviour">
        <ion-card-header text-center>Driver's driving behaviour</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.behaviour.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.taxiTimming.valid && submitAttempt"
        radio-group formControlName="taxiTimming">
        <ion-card-header text-center>Taxi Drivers arriving location on time</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.taxiTimming.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.busTimming.valid && submitAttempt"
        radio-group formControlName="busTimming">
        <ion-card-header text-center>Bus Drivers arriving location on time</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.busTimming.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.busCleanliness.valid && submitAttempt"
        radio-group formControlName="busCleanliness">
        <ion-card-header text-center>Cleanliness of the bus (inside and outside)</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.busCleanliness.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.taxiCleanliness.valid && submitAttempt"
        radio-group formControlName="taxiCleanliness">
        <ion-card-header text-center>Cleanliness of the Taxi vehicles (inside and outside)</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.taxiCleanliness.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.busTemperature.valid && submitAttempt"
        radio-group formControlName="busTemperature">
        <ion-card-header text-center>Temperature inside the bus</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.busTemperature.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.locationOfStops.valid && submitAttempt"
        radio-group formControlName="locationOfStops">
        <ion-card-header text-center>The location of the current bus stops</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.locationOfStops.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.bookingWebsites.valid && submitAttempt"
        radio-group formControlName="bookingWebsites">
        <ion-card-header text-center>Booking websites</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.bookingWebsites.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.customerService.valid && submitAttempt"
        radio-group formControlName="customerService">
        <ion-card-header text-center>The level of customer service received from drivers (helpful and courteous)</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.customerService.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.efficiency.valid && submitAttempt"
        radio-group formControlName="efficiency">
        <ion-card-header text-center>How efficiently and timely issues and complaints are dealt with/resolved</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.efficiency.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.timeCommitment.valid && submitAttempt"
        radio-group formControlName="timeCommitment">
        <ion-card-header text-center>Service providers' time commitment?</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.timeCommitment.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.busSafety.valid && submitAttempt"
        radio-group formControlName="busSafety">
        <ion-card-header text-center>Overall safety while riding a bus</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.busSafety.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>

      <ion-card padding [class.invalid]="!surveyForm.controls.customerSatisfaction.controls.taxiSafety.valid && submitAttempt"
        radio-group formControlName="taxiSafety">
        <ion-card-header text-center>Overall safety while riding a taxi</ion-card-header>
        <ion-item>
          <ion-label>Satisfactory</ion-label>
          <ion-radio item-left value="satisfactory" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Good</ion-label>
          <ion-radio item-left value="good"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Average</ion-label>
          <ion-radio item-left value="average"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Poor</ion-label>
          <ion-radio item-left value="poor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>N/A</ion-label>
          <ion-radio item-left value="n/a"></ion-radio>
        </ion-item>
        <ion-item class="no-border" *ngIf="!surveyForm.controls.customerSatisfaction.controls.taxiSafety.valid && submitAttempt">
          <p style="color: #a94442">This is a required question</p>
        </ion-item>
      </ion-card>
    </ion-card>

    <ion-card padding formGroupName="taxiProviderPreference">
      <h4>5.Which Taxi Service Provider you prefer utilizing? (Multiple Selection Accepted)</h4>
      <ion-item>
        <ion-label>Hanco</ion-label>
        <ion-checkbox color="button" formControlName="hanco"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Samara</ion-label>
        <ion-checkbox color="button" formControlName="samara"></ion-checkbox>
      </ion-item>
    </ion-card>

    <ion-card padding formGroupName="busPurpose">
      <h4>6. What is your main purpose of using bus services? (Multiple Selection Accepted)</h4>
      <ion-item>
        <ion-label>Business use</ion-label>
        <ion-checkbox color="button" formControlName="businessUse"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Within KAUST</ion-label>
        <ion-checkbox color="button" formControlName="withinKAUST"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Shopping</ion-label>
        <ion-checkbox color="button" formControlName="shopping"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Airport</ion-label>
        <ion-checkbox color="button" formControlName="airport"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Medical</ion-label>
        <ion-checkbox color="button" formControlName="medical"></ion-checkbox>
      </ion-item>
    </ion-card>

    <ion-card padding formGroupName="taxiPuspose">
      <h4>7. What is your main purpose of using taxi services? (Multiple Selection Accepted)</h4>
      <ion-item>
        <ion-label>Business use</ion-label>
        <ion-checkbox color="button" formControlName="businessUse"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Within KAUST</ion-label>
        <ion-checkbox color="button" formControlName="withinKAUST"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Shopping</ion-label>
        <ion-checkbox color="button" formControlName="shopping"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Airport</ion-label>
        <ion-checkbox color="button" formControlName="airport"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Medical</ion-label>
        <ion-checkbox color="button" formControlName="medical"></ion-checkbox>
      </ion-item>
    </ion-card>

    <ion-card padding radio-group formControlName="taxiTrip">
      <h4>8. How do you usually arrange a taxi trip? (Multiple Selection Accepted)</h4>
      <ion-item>
        <ion-label>Online form (Personal Trips)</ion-label>
        <ion-radio item-left value="online form"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Telephone booking</ion-label>
        <ion-radio item-left value="telephone booking"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Email Booking</ion-label>
        <ion-radio item-left value="email Booking"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Portal</ion-label>
        <ion-radio item-left value="portal"></ion-radio>
      </ion-item>
    </ion-card>

    <ion-card padding>
      <h4>9. Please use the space below to add any additional comments, suggestions or compliments in relation to Bus and Taxi
        services.
      </h4>
      <ion-item>
        <ion-label>Your answer</ion-label>
        <ion-input formControlName="comments"></ion-input>
      </ion-item>
    </ion-card>
    <button type="submit" ion-button block color="button">Submit</button>
  </form>
</ion-content>